<%- include('../../template/head.ejs') %>
<div class="main-grid">
    <%- include('../../template/header.ejs') %>
    <main>
        <section class="mt-2">
            <%- include('../components/infoProyecto.component.ejs') %>
            <%- include('../components/navegacionProyecto.component.ejs') %>
            <main>
                <section id="equipo">
                    <header>
                        <span class="text-center title">Equipo</span>
                        <input type="hidden" name="nrc" value="<%= proyecto.nrc %>">
                        <%- include('../components/seleccionEquipo.component.ejs') %>
                    </header>
                    <main>
                        <%- include('../components/integrantesEquipo.component.ejs') %>
                    </main>
                </section>
            </main>
        </section>
    </main>
</div>
<script src="/public/js/eliminarProyecto.js" type="module"></script>
<script src="/public/js/integrantesEquipo.js" type="module"></script>
<%- include('../../template/footer.ejs') %>