<%- include('../../template/head.ejs') %>
<div class="main-grid">
    <%- include('../../template/header.ejs') %>
    <main>
        <section class="mt-2">
            <%- include('../components/infoEtapa.component.ejs') %>
            <%- include('../components/navegacionEtapa.component.ejs') %>
            <main>
                <section>
                    <header>
                        <span class="text-center title">Modificar etapa de proyecto</span>
                    </header>
                    <main>
                        <%- include('../components/formularioModificarEtapa.component.ejs') %>
                    </main>
                </section>
            </main>
        </section>
    </main>
</div>
<script src="/public/js/modificarEtapa.js" type="module"></script>
<script src="/public/js/eliminarEtapa.js" type="module"></script>
<%- include('../../template/footer.ejs') %>