<%- include('../../template/head.ejs') %>
<div class="main-grid">
    <%- include('../../template/header.ejs') %>
    <main>
        <section class="mt-2">
            <%- include('../components/infoT.component.ejs') %>
            <header>
                <span class="title">NUEVA TAREA</span>   
            </header>
            <main>
                <%- include('../components/formularioNuevaTarea.component.ejs') %>
            </main>
        </section>
    </main>
</div>
<%- include('../../template/footer.ejs') %>