<div class="pt-2 mx-auto row col-12 justify-content-between d-flex flex-column flex-md-row border-bottom">
    <input type="hidden" name="id_proyecto" value="<%= proyecto.id_proyecto %>">
    <div class="col-md-4">
        <h2 class="text-center text-md-left"><%= proyecto.nombre_proyecto %></h2>
        <p class="text-justify"><%= proyecto.descripcion %></p>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-between">
        <div class="">
            <p class="font-weight-bold">Materia:</p>
            <p><%= proyecto.materia %></p>
            <p class="font-weight-bold">Evaluador:</p>
            <p><%= proyecto.profesor %></p>
        </div>
        <div class="">
            <p class="font-weight-bold">Fecha inicio:</p>
            <p><%= proyecto.fecha_inicio %></p>
            <p class="font-weight-bold">Fecha límite:</p>
            <p><%= proyecto.fecha_limite || '-' %></p>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <a href="modificarProyecto" class="btn btn-block btn-outline-primary">Editar proyecto</a>
        <button id="btnEliminarProyecto" class="btn btn-block btn-outline-danger">Eliminar proyecto</button>
    </div>
</div>