<%- include('../../template/head'); %>
<div class="main-grid">
    <%- include('../../template/header.ejs') %>
    <main>
        <section>
            <main>
                <%- include('../components/infoProyecto.ejs') %>
                <%- include('../components/formCrearEntregable') %>
            </main>
        </section>
    </main>
</div>
<script type="module" src="/public/js/crearEntregable.js"></script>
<%- include('../../template/footer.ejs') %>